<form asp-controller="User"  asp-action="Logoff">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">System Exist</h5>
            <p class="card-text">Do you raaly want to exist of system?.</p>
            <input type="submit" value="Yes" class="btn btn-primary" />
        </div>
    </div>
    </form>
